@media only screen and (min-width: 1024px) {
    body {
        background-color: white;
    }
    
    .app {
        .main-wrapper {
            display: flex;
            height: 100vh;
            align-items: center;
            justify-content: space-evenly;
        }
    }
}