/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: Arial, Helvetica, sans-serif;
  src: url("../fonts/Arial"); }

@media only screen and (min-width: 1024px) {
  body {
    background-color: white; }
  .app .main-wrapper {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: space-evenly; } }

@media only screen and (min-device-width: 767px) and (max-width: 1023px) {
  body {
    background-color: blue; }
  .app .main-wrapper {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: space-evenly; } }

body {
  color: #FFF; }

.app .video-container {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  transition: all 0.5s ease; }
  .app .video-container::after {
    content: "";
    background: rgba(2, 9, 29, 0.7);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    pointer-events: none; }

.app .main-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: space-evenly; }
  .app .main-wrapper .time, .app .main-wrapper .player, .app .main-wrapper .settings {
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
    width: 90%; }
  .app .main-wrapper .time button, .app .main-wrapper .settings button {
    font-size: 1rem;
    font-weight: bold;
    color: white;
    width: 30%;
    height: min-content;
    background: none;
    border: 2px solid #FFF;
    border-radius: 45px;
    padding: 10px 15px;
    cursor: pointer;
    transition: all 0.5s ease; }
  .app .main-wrapper .time {
    flex-direction: row;
    justify-content: space-between;
    max-height: 145px; }
  .app .main-wrapper .player {
    position: relative;
    display: flex;
    justify-content: center; }
    .app .main-wrapper .player svg {
      position: absolute;
      pointer-events: none;
      height: 65%;
      width: 65%;
      top: 10%; }
    .app .main-wrapper .player .play-btn {
      position: absolute;
      top: 25%;
      margin-left: 15px; }
    .app .main-wrapper .player .time-display {
      font-size: 3rem;
      position: absolute;
      bottom: 0px; }
  .app .main-wrapper .settings .sound-picker {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; }
    .app .main-wrapper .settings .sound-picker button {
      border: none;
      width: 45%; }
      .app .main-wrapper .settings .sound-picker button img {
        width: 75%; }
